# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

notify:
  - name: "Gotify"
    platform: gotify
    url: https://beast.anthome.uk:8843
    token: Acp._3LDPPWpDPp

group: !include groups.yaml
automation: !include automations.yaml
light: !include lights.yaml
lovelace: !include lovelace.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
mqtt: !include mqtt.yaml
# template: !include switches.yaml
template:
  - switch:
      - turn_on:
          - action: input_boolean.turn_on
            target:
              entity_id:
                - input_boolean.airing_cupboard_fan_helper
        turn_off:
          - action: input_boolean.turn_off
            target:
              entity_id:
                - input_boolean.airing_cupboard_fan_helper
        name: Airing Cupboard Fan Switch
        state: "{{ is_state('input_boolean.airing_cupboard_fan_helper', 'on') }}"
  - switch:
      - turn_on:
          - action: input_boolean.turn_on
            target:
              entity_id:
                - input_boolean.bathroom_fan_helper
        turn_off:
          - action: input_boolean.turn_off
            target:
              entity_id:
                - input_boolean.bathroom_fan_helper
        name: Bathroom Fan Switch
        state: "{{ is_state('input_boolean.bathroom_fan_helper', 'on') }}"
  - switch:
      - turn_on:
          - action: input_boolean.turn_on
            target:
              entity_id:
                - input_boolean.garage_fan_helper
        turn_off:
          - action: input_boolean.turn_off
            target:
              entity_id:
                - input_boolean.garage_fan_helper
        name: Garage Fan Switch
        state: "{{ is_state('input_boolean.garage_fan_helper', 'on') }}"

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /config/www/community/hass-hue-icons/hass-hue-icons.js
zha:
  custom_quirks_path: /config/zha_quirks/
  zigpy_config:
    ota:
      ikea_provider: true
      ledvance_provider: true
logger:
  default: warning

# Required for traefik
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.0.0.5

recorder:
  exclude:
    entity_globs:
      - sensor.everything_presence_lite*target*
